.progress1 .progressbar {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
}

.progress1 .proggress {
    background-color: rgb(161, 233, 52);
    height: 6px;
    border-radius: 15px;
    width: 100%;
}

.progress2 .progressbar {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
}

.progress2 .proggress {
    background-color: rgb(161, 233, 52);
    height: 6px;
    border-radius: 15px;
    width: 50%;
}

.progress3 .progressbar {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
}

.progress3 .proggress {
    background-color: rgb(161, 233, 52);
    height: 6px;
    border-radius: 15px;
    width: 70%;
}

.swiper-wrapper {
    height: unset !important;
}

.swiper {
    padding-bottom: 3rem !important;
}